Reference: https://docs.python.org/3/tutorial/venv.html

Process (Windows):
1. (cd to workshop)                 $ python -m venv .venv
2. (should have created /.venv)     $ .venv\Script\activate
3. (you are now using the venv)     $ python -m pip install -r .\requirements.txt

Process (Unix):
1. (cd to workshop)                 $ python -m venv .venv
2. (should have created /.venv)     $ source .venv/bin/activate
3. (you are now using the venv)     $ python -m pip install -r .\requirements.txt
