<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000">
    <title>FHIR Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body>
    <h1>FHIR Dashboard</h1>

    <table>
        <thead>
            <tr>
                {% if json_data %} {# Make sure there's at least one item #}
                    {% for key in json_data[0].keys() %} {# Iterate through keys of the first item #}
                        <th>{{ key }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in json_data %}
                <tr>
                    {% for value in item.values() %} {# Iterate through values of each item #}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>