<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>FHIR Dashboard</title>

    <link rel="stylesheet" type="text/css" href="static/app.css">
</head>

<body>
    <h1>FHIR Dashboard</h1>

    <table>
        <tr>
            <th></th>
        </tr>
        <tr>
            <td>
                <pre>{{ json_data }}</pre>
            </td>
        </tr>
    </table>
</body>

</html>
